@import '../mixins/variables';
@import '../mixins/mixins';

body {
  font-family: $font-family-base;
  background-color: $light-bg;
  color: $text-color;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: $primary-color;
    text-decoration: none;
    @include transition(color);

    &:hover,
    &:focus {
      text-decoration: underline;
      color: darken($primary-color, 10%);
    }
  }

  p {
    margin-bottom: $spacing-unit;
  }
}