@use "../mixins/variables" as vars;
@use "sass:color";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // asegura que el footer siempre esté al final
  margin: 0;
}

main {
  flex: 1; // ocupa todo el espacio entre header y footer
}

footer {
  background-color: color.adjust(vars.$dark-bg, $lightness: 5%);
  color: vars.$text-color;
  text-align: center;
  padding: 1rem 2rem;
  width: 100%;
}
