@use "../mixins/variables" as vars;
@use "sass:color";

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366; // verde WhatsApp
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  img {
    width: 35px;
    height: 35px;
  }

  &:hover {
    background-color: color.adjust(#25D366, $lightness: -10%); // verde más oscuro al hover
    transform: scale(1.1);
  }
}
